Source: python-azure-mgmt-nspkg
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends: debhelper (>= 8.0.0), dh-python,
 python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.2
Homepage: https://github.com/Azure/azure-sdk-for-python/tree/master/azure-mgmt-nspkg

Package: python-azure-mgmt-nspkg
Architecture: all
Depends: ${python:Depends} ${misc:Depends}
Description: Microsoft Azure Resource Management Namespace Package [Internal]
